* {
    border: 5px solid black;
    box-sizing: border-box;
    margin: 0;
}

header {
    grid-area: h;
    background-color: yellow;
}

nav {
    grid-area: n;
    background-color: green;
}

section {
    grid-area: s;
    background-color: aqua;
}

article {
    grid-area: ar;
    background-color: azure;
}

aside {
    grid-area: a;
    background-color: blue;
}

footer {
    grid-area: f;
    background-color: blueviolet;
}

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 50px 35vh 35vh 50px;
    grid-template-areas:
    "h h"
    "n n"
    "s a"
    "ar a"
    "f f"
    ;
}

@media screen and (max-width:500px){
    body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "h"
    "n"
    "ar"
    "a"
    "f";
    }
}