* {
    border: 5px solid black;
    box-sizing: border-box;
    margin: 0;
}
header {
    grid-area: h;
    background-color: yellow;
}

nav {
    grid-area: n;
    background-color: green;
}

main {
    grid-area: m;
    background-color: aqua;
}

aside {
    grid-area: a;
    background-color: blue;
}

footer {
    grid-area: f;
    background-color: blueviolet;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
    "h h h"
    "n m a"
    "f f f";
}

@media screen and (max-width:500px){
    body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "h"
    "n"
    "m"
    "a"
    "f";
    }
}